.img {
  width: 720px;
  height: 350px;
}
.container-slide {
  margin-top: 30px;
}
.post-content {
  background: #ffffff;
  padding: 15px;
}
.container {
  background: #ffffff;

  margin: auto;
}
.content-post {
  background: #f2f2f2;
}
.button-open-detail {
  background: #3d5afe;
  color: white;
}
.button-open-detail:focus {
  outline: none;
  border: none;
}
.seemore:focus {
  outline: none;
  border: none;
}

.banner {
  background-image: url("/assets/1.jpg");
  background-size: cover;
  height: 150px;
  background-position: 70% 20%;
}

.sidebar {
  flex-wrap: wrap;
}

.button-floating {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  display: none;
  background: #3d5afe;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .post-content {
    padding: 0px;
  }
  .container {
    width: 100%;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .container {
    width: 80%;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .img-fluid {
    width: 100px;
    height: 80px;
  }
}
