.img {
  width: 720px;
  height: 350px;
}
.container-slide {
  margin-top: 30px;
}
.post-content {
  background: #ffffff;
}
.container {
  background: #ffffff;
  //height: 100%;
}
.content-post {
  background: #f2f2f2;
}
.button-open-detail {
  background: #3d5afe;
  color: white;
}
.button-open-detail:focus {
  outline: none;
  border: none;
}
.seemore:focus {
  outline: none;
  border: none;
}

.banner {
  background-image: url("/assets/1.jpg");
  background-size: cover;
  height: 150px;
  background-position: 70% 20%;
}

.sidebar {
  flex-wrap: wrap;
}

.button-floating {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  display: none;
  background: #3d5afe;
}
