<div>
    <div class="banner"></div>
</div>
<app-navegation></app-navegation>

<div class="container">

    <div class="row">
        <div class="col-6  mt-3 ">
            <h2>Ultimos articulos</h2>

        </div>
        <div class="col-6 mt-3">
            <p class="d-flex justify-content-end pr-3">{{date | date: 'dd/MM/yyyy, h:mm a'}}</p>
        </div>
        <hr width="100%">
    </div>

    <div class="row post-content p-3 ">
        <div class="col-lg-8 col-12 mt-2" *ngFor="let post of posts">
            <div class="content-post p-3">
                <h5>{{ post.title }}</h5>
                <p>Publicado el {{ post.createdAt | date: 'dd/MM/yyyy, h:mm a'}}</p>
                <div class="row">
                    <div class="col-lg-8 col-12 mt-2">
                        <div class="text">
                            <p>{{post.subtitle}}</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="{{ post.images[0].url }}" class="img-fluid">
                        <button mat-button class="mt-2 btn-block button-open-detail">Leer mas</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mt-2">
        </div>
    </div>


</div>