<div class="container">
    <div class="row post-content" [style.visibility]=" hasposts ? 'visible' : 'hidden'">
        <!-- container Tech news -->
        <div class="col-lg-8 col-md-8 col-12 mt-2">
            <div class="posts" *ngFor="let post of posts">
                <div class="content-post p-3">
                    <div class="row">
                        <div class="col-lg-10 col-12 mt-2">
                            <h5>{{ post.title }}</h5>
                            <div class="row p-0 m-0 ">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-2 "
                                    style="padding-left: 0px;padding-bottom: 0px">
                                    <mat-icon class="example-icon" aria-hidden="false"
                                        aria-label="Example user verified icon">access_time</mat-icon>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-10"
                                    style="padding-left: 0px; padding-bottom: 0px;">
                                    <p style="color: #444444;"> {{ post.createdAt | amTimeAgo}}</p>
                                </div>
                            </div>

                            <div class="text">
                                <p>{{post.subtitle}}</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-2  d-flex align-content-around flex-wrap">
                            <img style="border-radius: 5px 5px 5px 5px; " src="{{ post.images[0].url }}"
                                class="img-fluid">
                            <button [routerLink]="['/detail/',post._id]" mat-button
                                class="mt-2 btn-block button-open-detail">Leer
                                mas</button>
                        </div>
                    </div>
                </div>
                <hr width="100%">
            </div>
        </div>
        <!-- container recommend section news -->
        <div class="col-lg-4 col-md-4 col-12 lign-self-end   mt-2">

            <div class="content-post p-3">
                <h5>Tambien te puede interesar</h5>
                <hr width="100%">
                <div class="content-recommend" *ngFor="let post of postsSuggested">
                    <div class="content">
                        <h6>{{post.title}}</h6>
                        <p style="color: #444444; font-size: 12px;">{{ post.createdAt | amTimeAgo}}</p>
                        <p class="seemore" style="color: #3d5afe; cursor: pointer; "
                            [routerLink]="['/detail/',post._id]">Leer este
                            articulo</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <button (click)="topFunction()" id="myBtn" class="button-floating seemore" mat-fab
        aria-label="Example icon-button with a heart icon">
        <mat-icon>expand_less</mat-icon>
    </button>
</div>