.img {
  width: 720px;
  height: 350px;
}
.container-slide {
  margin-top: 30px;
}
.post-content {
  background: #ffffff;
}
.container {
  background: #ffffff;
}
.content-post {
  background: #f2f2f2;
}
.button-open-detail {
  background: #3d5afe;
  color: white;
}
.button-open-detail:focus {
  outline: none;
  border: none;
}
