<div class="container d-flex justify-content-center">
    <div class="row align-items-center " style="width: 100%; height: 100%;">

        <div class="col-lg-8 col-md-12 col-12">
            <h1 class="title">Acceso al panel de administración</h1>
            <p class="subtitle">
                Este modulo es solo es para usuarios autorizados. Para mas informacion
                lea las <span>Politicas de privacidad.</span>
            </p>
        </div>

        <div class="col-lg-4 col-md-4  col-12">
            <mat-card class="example-card">
                <!-- <mat-progress-bar [style.visibility]="isLoading ? 'visible' : 'hidden'" class="mt-2 mb-2"
                    mode="indeterminate"></mat-progress-bar> -->
                <mat-card-header class="d-flex justify-content-center">
                    <mat-card-title>Iniciar sesión</mat-card-title>
                </mat-card-header>
                <hr>
                <div class="row d-flex justify-content-center">

                    <mat-card-content class="card-content">
                        <div class="example-container">
                            <mat-form-field>
                                <input [(ngModel)]="user.username" matInput placeholder="Username">

                            </mat-form-field>

                            <mat-form-field>
                                <input [(ngModel)]="user.password" matInput placeholder="Password"
                                    [type]="!hide ? 'password' : 'text'">

                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </div>

                <mat-card-actions>
                    <button [class.spinner]="isLoading" [disabled]="user.username  && user.password    === ''   "
                        (click)="login()" mat-flat-button color="primary" class="btn-block login-btn">
                        <p [style.visibility]="!isLoading ? 'visible' : 'hidden'" class="p-0 m-0">Login</p>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>