<div class="topnav toolbar" id="myTopnav">
    <div class="container ">
        <mat-toolbar-row>
            <a mat-button class [routerLink]="['/']">Home</a>
            <a mat-button class [routerLink]="['/']">Trends</a>
            <a mat-button class class="menu-section" [matMenuTriggerFor]="menu">Categorias</a>
            <mat-menu #menu="matMenu" class="section">
                <button class="menu-item" mat-menu-item>Inovations</button>
                <button class="menu-item" mat-menu-item>Android news</button>
                <button class="menu-item" mat-menu-item>Tech</button>
                <button class="menu-item" mat-menu-item>Aplications</button>
            </mat-menu>
            <a mat-button class [routerLink]="['/']">Contact</a>
            <a mat-button class="admin-redirect" [style.visibility]="userIsLogin ? 'visible' : 'hidden'"
                (click)="admin()">Panel de administración</a>
        </mat-toolbar-row>
    </div>
</div>